<%- include('header', {portfolio: "active", resume: "", back: ""}) %>
<% include banner %>
<% include bio %>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 supplements">
                <div class="container skills">
                    <h2> Skills</h2>
                    <h4> Javascript | React | Redux | React Native | Node | Express | HTML | CSS | C | Python </h4>
                    <h4> Test Driven Development | Agile Development | Code Review | Git  </h4>
                </div>
            <div class="container portfolio">
                <h2>Project Examples</h2>
                <h4>Filter Projects By Tools Used: </h4>
                   <button class="btn btn-sm btn-default" onClick= "handleClick('tags')"> All Projects </button>
                   <button class="btn btn-sm btn-default" onClick= "handleClick('Javascript')"> Javascript </button>
                   <button class="btn btn-sm btn-default" onClick= "handleClick('React')"> React </button>
                   <button class="btn btn-sm btn-default" onClick= "handleClick('jQuery')"> jQuery </button>
                   <button class="btn btn-sm btn-default" onClick= "handleClick('Express')"> Express </button>
                <div class="row">
                <% projects.forEach(function(project) { %>
                   <div class="<%- project.tags.join(" ") + " tags col-md-4" %>">
                           <img class="gif" src=<%= project.image %>>

                        <a  href=<%= "/project-"+ project.id%>  type="GET" >
                        <div class="hoverbox-top">
                            <div class="hoverbox-text">
                                <h2><%=project.title %></h2>
                                <h4><%=project.shortSummary %></h4>
                                <h4>This project was built with:<br> <%=project.tags.join(", ") %></h4>
                            </div>
                        </div>
                        </a>
                   </div>
                <% }) %>
                </div>
            </div>
        </div>
    </div>
    <script>
        function handleClick(tool) {
            var elements = document.getElementsByClassName(tool)
            var allElements = document.getElementsByClassName("tags")
            for (var i=0; i < allElements.length; i++ ){
                var item = allElements[i]
                item.style.display = 'none'
            }
            for (var i = 0; i <elements.length; i++ ) {
                var item = elements[i]
                item.style.display = (item.style.display =='none') ? 'block' : '';
            }
        }
    </script>
<% include footer %>
