<%- include('header', {resume: "active", portfolio: "", back: ""}) %> 
<% include banner %>
<% include bio %>
<div class="core-resume">
    <h2> Experience</h2>
    <div class="work-experience"> 
    <% console.log(jobs, education) %>
        <% jobs.forEach(function(job) { %>
            <h3><%= job.organization %><span class="pull-right"><%= job.date %></span></h3>
            <h4><%= job.title %></h4>
            <h5><%= job.summary %></h5>
            <% if (job.responsibilities) { %>
            <h5>Responsibilities: </h5>
            <ul>
                <% job.responsibilities.forEach(function(responsibility) { %>
                    <li> <%= responsibility %></li>
                <% }) %>
            </ul>
            <% } %>
        <% }) %>
     </div>
     <h2>Education</h2>
     <div>
     <% education.forEach(function(edu) { %>
        <h3> <%= edu.title %> <span class="pull-right"> <%= edu.date %></span></h3>
        <h4> <%= edu.organization %> </h4>
        <p> <%= edu.description %> </p>
        <% if (edu.awards) { %>
        <h4><%= edu.awards %> </h4> 
        <% } }) %>
        <h3>Research Publications</h3>
                <h6 class="publication-title"><a href="https://www.researchgate.net/publication/258181623_Policy_Making_Incrementalism_and_News_Discourse_Gasoline_Tax_Debates_in_Eight_US_States">Policy Making, Incrementalism, and News Discourse Gasoline Tax Debates in Eight U.S. States</a></h6>
                <h6 class-"publication-title"><a href="https://www.researchgate.net/publication/312961834_Print_News_Uses_More_Source_Diversity_than_Does_Broadcast">Print News Uses More Source Diversity than Does Broadcast</a></h6> 
                <h6 class-"publication-title"><a href="https://www.researchgate.net/publication/283083065_Government_Sources_Dominate_Vehicle_Emissions_Coverage">Government Sources Dominate Vehicle Emissions Coverage</a></h6> 
                <h6 class-"publication-title"><a href="https://www.researchgate.net/publication/251513050_The_Technological_Fix_as_a_Frame_in_Media_Debates_about_Tailpipe_Emissions">The Technological Fix as a Frame in Media Debates about Tailpipe Emissions</a></h6> 
                <h6 class-"publication-title"><a href="https://www.researchgate.net/publication/241767483_The_role_of_media_actors_in_reframing_the_media_discourse_in_the_decision_to_reject_relicensing_the_Vermont_Yankee_nuclear_power_plant">The role of media actors in reframing the media discourse in the decision to reject relicensing the Vermont Yankee nuclear power plant</a></h6> 
        </div>
    </div>
</div>
<% include footer %>
